In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Total_Bank.csv',index_col= 'Unnamed: 0')

In [3]:
index = ['高雄銀行','安泰銀行','第一銀行','兆豐銀行','台新銀行','台灣銀行','三信銀行','上海銀行','中國信託','元大銀行','匯豐銀行','臺北富邦銀行','台灣中小企業銀行','土地銀行','合作金庫','大眾銀行','新光銀行','日盛銀行','國泰世華銀行','玉山銀行']

In [4]:
g = df['USD':'HKD'].values[1]

In [5]:
def f1(x,n):
    a = (max(x)-min(x))/float(n)
    interval = [min(x)+i*a for i in range(n+1)]
    return interval

In [6]:
values1 = df.values
F = []
x = 0
for i in values1:
    j = pd.Series(i).dropna().values
    F.append(f1(j,5))
    #print (index[x],F[-1])
    x = x +1

In [7]:
def rank(y,interval):
    x = pd.Series(y).fillna(0).values
    b = []
    for i in x:
        b.append(0)
        k = 0
        for j in interval[0:-1]:
            if float(i) >= j:
                #print (j)
                k = k +1
                b[-1] = k
    return b

In [8]:
data = []
k = 0
for i in values1:
    data.append(rank(i,F[k]))
    k = k +1

In [9]:
def ToMatrix(x):
    Y = []
    #x = x[1:]
    length = len(x)
    W = np.matrix(np.zeros([length,length]))
    for i in range(length):
        if x[i] == 0.0:
            Y.append(np.zeros([1,length])[0].tolist())   
        else:
            a = []
            for j in range(length):
                if x[j] == 0.0 :
                    a.append(0)
                else :
                    a.append(x[j]-x[i])
                    W[i,j] = 1
            Y.append((a))
    return np.matrix(Y), W

In [10]:
d = data
length = len(d[0])
A = np.matrix(np.zeros([length,length]))
W = np.matrix(np.zeros([length,length]))
for i in d:
    B,W1 = ToMatrix(i)
    A = A + B
    W = W + W1

In [11]:
for i in range(length):
    for j in range(length):
        if W[i,j]!=0:
            A[i,j] = A[i,j]/W[i,j]

In [12]:
def laplacian(Y):
     n = len(Y)
     x = -Y
     for i in range(n):
         x[i,i] = sum(Y[i,:])
     return x

def divergence(Y):
     n = len(Y)
     x = np.zeros([n,1])
     for i in range(n):
         x[i] = sum(Y[i,:])
     return x

In [13]:
len(data[0])

20

In [14]:
B = laplacian(np.array(W))
c = divergence(np.array(A))
D = np.matrix(np.linalg.pinv(B))

In [15]:
s = -D*c

In [16]:
s = np.array(s)
s = [i[0] for i in s]

In [20]:
result = pd.DataFrame(data = {
        
        '分數':s,
        '銀行': index
    })

In [24]:
result.sort('分數',ascending=0)[['銀行','分數']]

          銀行        分數
16      新光銀行  0.429532
15      大眾銀行  0.429532
1       安泰銀行  0.142387
8       中國信託  0.098759
9       元大銀行  0.064793
4       台新銀行  0.038445
10      匯豐銀行  0.026704
3       兆豐銀行  0.026704
11    臺北富邦銀行  0.017455
7       上海銀行 -0.012581
18    國泰世華銀行 -0.017115
14      合作金庫 -0.028040
19      玉山銀行 -0.044083
13      土地銀行 -0.055057
5       台灣銀行 -0.066129
12  台灣中小企業銀行 -0.070159
0       高雄銀行 -0.078605
2       第一銀行 -0.080390
6       三信銀行 -0.128565
17      日盛銀行 -1.127821